header {
  background-color: #6daef0;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: #343a40;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 20%;
  background-color: rgb(221, 168, 221);
}

.center {
  width: 50%;
  background-color: rgb(124, 228, 228);
  text-align: center;
}

.right {
  width: 30%;
  background-color: rgb(232, 238, 175);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

#ranking_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
}

.rank_dis {
  text-align: right;
}

select {
  /* 初期化 */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  padding: 0 10px;
  height: 40px;
  width: 50px;
  position: relative;
  background: #d7d6e6 url(./assets/arrow.svg) no-repeat right 10px center / 16px
    auto;
}

option[selected][disabled] {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

#ranking {
  font-size: 2rem;
  color: #df0404;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fa709a),
    to(#fee140)
  );
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

#ranking span {
  background-image: -webkit-linear-gradient(
    315deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ranking:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fee140),
    to(#fee140)
  );
  background: -webkit-linear-gradient(left, #fee140 0%, #fee140 100%);
  background: linear-gradient(to right, #fee140 0%, #fee140 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
