header {
  background-color: #6daef0;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: #343a40;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 100px;
  background-color: violet;
}

.center {
  width: 50%;
  background-color: aqua;
  text-align: center;
}

.right {
  width: 30%;
  background-color: violet;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}
